body{
    color: white;
    background-color: rgb(43, 41, 40);
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.wrapper{
    position: relative;
  margin-bottom: 45px;
  padding-left: 55px;
  min-height: 220px;
}
.user__name{
    display: inline;
    margin-right: 35px;
    font-size: 32px;
    font-weight: 700;
  
    
}
.name{
    font-size: 26px;
    margin: 10px 0;
    color: grey;
}
.user_email{
    color: grey;
}
.title{

font-family: inherit;
font-weight: 700;
font-size: 28px;

}
.card__body{
    font-family: inherit;
    font-weight: 300;
    font-size: 20px;
}
.btn{
position: absolute;
right: 0px;
top: 60px;
width: 30px;
height: 30px;
background-color:  rgb(43, 41, 40);
border: none;
/* opacity: 0.2; */
}
img{
    position: relative;
    left: -8px;
    top: 0px;
    width: 30px;
    height: 32px;
} 